@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
      tertiary: mat.$magenta-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: #f8fafc;
  color: var(--mat-sys-on-surface);
  font-family: 'Inter', sans-serif;
  margin: 0;
  height: 100%;
}